
body{
   background-color: rgb(9, 235, 141);
    font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.klik{
    text-align: center;
    padding-top: 80px;
}
.kotak{
    padding border-bottom: 50px;
    margin-left: 100px;
    margin-right: 105px;
}

.judul{
    text-align: center;
}

.tombol{
    background-color: rgba(219, 17, 94, 0.74);
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 40px;

}

.tombol:hover{
    background-color: #19d638e5;
}

.teks{
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    padding: 20px;
    margin-left: 10px;
    text-align: justify;
    background-color: #5d93c5b7;
    font-style: oblique;

}